.tam1{
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #EEE;
    border: solid 1px;
    border-color: #CCC;
}

.bt{
    width: 37px;
    height: 37px;
    background-color: #FF8000;
    color: white;
    font-size: 14px;
    border: solid;
}

.bt:hover{
    background-color: #EE5000;
    cursor: pointer;
}

.bt1{
    width: 50px;
    height: 37px;
    background-color: #FF8000;
    color: white;
    font-size: 10px;
    border: solid;
}

.bt1:hover{
    background-color: #EE5000;
    cursor: pointer;
}